{% extends "base.html" %}

{% block header %}
<p>Enter the image year and whether it is a breaker or a sheet with records:</p> 
{% endblock header %}
{% block content %}
    <form method="POST" action={% url 'EntryApp:submit_image' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
    <br>
    <div id="openseadragon1" style="width: 800px; height: 600px;"></div>
    <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
   <script type="text/javascript">
        var Viewer = OpenSeadragon({
            id: "openseadragon1",
            prefixUrl: "/static/deepzoom/js/vendor/openseadragon/images/",
            tileSources: {
                type: 'image',
                url: "/deepzoom_images/uploaded_images/{{ slug }}"
            },
            buildPyramid: false
        });
    </script>
{% endblock content %}

