{% extends "base.html" %}

{% block end_of_head_tag %}
<script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
<style>
    #form-row-div  {
        flex-flow: row nowrap;
        overflow-x: scroll;
        align-items: flex-start;
        gap: 25px;
    }

    .form-inline label {
        justify-content:flex-start;
    }

    .control-label {
        display: inline-block;
        width:max-content;   /*auto Prevent labels from stacking above inputs in `.form-group` */
        font-weight:bold;
    }

    .form-column {
        max-width: 300px;

    }

    .control-group {
        margin-bottom: 10px;
    }

    /* For inputs */

    .numberinput-small {
    width:60px;
    }

    .textinput-small {
    width:60px;
    }


    /* 1970 */

    #form-1970-names-div {
        display:block;
    }

    #form-1970-last-name-suffix {
        display:flex;
        gap:25px;
    }

    #form-1970-first-name-middle-init {
        display:flex;
        gap:25px;
    }

    #form-1970-age-block {
        display:block;
    }

    #form-1970-block-radios {
        display:flex;
        gap:5px;
    }

    #form-1970-serial-radios {
        display:flex;
        gap:5px;
    }

    /* 1980 */
    #form-1980-first-name-middle-init {
        display:flex;
        gap:25px;
    }

    #form-1980-sex-radios {
        display:flex;
        margin-right:200px;
    }

    #form-1980-race-radios {
        margin-right: 200px;
    }

    #form-1980-birth-year-radios {
        margin-right:100px;
    }

    #form-1980-age-block {
        display: flex;
        gap:25px;
    }


    /* 1990 */
    #form-1990-first-name-middle-init {
        display:flex;
        gap:25px;
    }

    #form-1990-sex-radios {
        display:flex;
        margin-right:200px;
    }

    #form-1990-race-radios {
        margin-right: 200px;
    }    
</style>

{% endblock end_of_head_tag %}

{% block header %}

<h1>Code Image</h1>

{% endblock header %}

{% block content %}
    <script>
    let params = "scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=600,height=300,left=100,top=100";
    var newWin = null;
    function popOut(imgpath, alreadyOpen){
       window.history.replaceState(null, null, "?popOut=true");
       newWin = open(imgpath, "image", params);
       var firstUnloadFired = false;
       newWin.onunload = function() {
	 newWin.opener.console.log("closing");
         if (!firstUnloadFired) {
           firstUnloadFired = true;
           return;
         }
	 newWin.opener.window.history.pushState({}, document.title, window.location.pathname);
       }
    }
    var urlparams = new URLSearchParams(window.location.search);
    var popOutExists = urlparams.get('popOut');
    if (popOutExists) {
      console.log("wut");
      popOut('/images/{{ img.year }}/{{ reel_name }}/{{ slug }}', true)
    }

    //window.addEventListener('unload', function(){ newWin.close() });
    </script>
    <div id="openseadragon-image" class='flex-container'>
        <div id="openseadragon1" style="width: 2000px; height: 500px;"></div>
        <script type="text/javascript">
            var Viewer = OpenSeadragon({
                id: "openseadragon1",
                prefixUrl: "/static/openseadragon_images/",
                tileSources: {
                    type: 'image',
                    url: "/images/{{ img.year }}/{{ reel_name }}/{{ slug }}"
                },
                buildPyramid: false
            });
        </script>
    </div>
    <button onclick="popOut('/images/{{ img.year }}/{{ reel_name }}/{{ slug }}', false)">Pop out</button>

    <div id="entry-area" style="height:45%; overflow-y:scroll; margin:50px;">

            <h2>Basic image info</h2>
                <ul>
                    <li><strong>Reel</strong>: {{ reel_name }}
                    <li><strong>Image filename</strong>: {{ img.image_file.img_file_name }}
                </ul>
            {% if image_form %}
                        <form id="image-info" method="POST">
                            {% csrf_token %}
                            {{ image_form }}
                            <input type="hidden" name="{{ param_names.PARAM_NAME_IMAGE_ID }}" value="{{ img.id }}" />
                            <input type="hidden" name="{{ param_names.PARAM_NAME_ACTION }}" value="update_image" />
                            <input type="submit" value="Submit">
                        </form>
            {% else %}
                        <ul>
                            <li><strong>year</strong>: {{ img.year }}
                            <li><strong>Image type</strong>: {{ img.image_type }}
                        </ul>

            {% endif %}

            {% if breaker_formset %}
                    {% include "EntryApp/includes/code-image-edit-breaker.html" %}
            {% endif %}
            {% if sheet_form %}
                    {% include "EntryApp/includes/code-image-edit-sheet.html" %}
            {% endif %}
            {% if longform_form %}
                    {% include "EntryApp/includes/code-image-edit-longform.html" %}
            {% endif %}
            {% if other_image_form %}
                    {% include "EntryApp/includes/code-image-edit-other-image.html" %}
            {% endif %}
    </div>
    

{% endblock content %}
{% block logout %}
{% endblock logout %}
