{% extends "base.html" %}

{% block end_of_head_tag %}
<script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
{% endblock end_of_head_tag %}

{% block header %}

<h1>Code Image</h1>

{% endblock header %}

{% block content %}
    <div class="flex-container">
    <div class="row row-height">
        <div class="col-lg-5">
            <div id="openseadragon1" style="width: 95%; height: 600px;"></div>
            <script type="text/javascript">
                var Viewer = OpenSeadragon({
                    id: "openseadragon1",
                    prefixUrl: "/static/openseadragon_images/",
                    tileSources: {
                        type: 'image',
                        url: "/images/{{ img.year }}/{{ slug }}"
                    },
                    buildPyramid: false
                });
            </script>
        </div>
        <div class="col-lg-7 justify-content-center right-col">
            <div class="row">            
                <p class="image_info">
                    <h2>Basic image info</h2>
                {% if image_form %}
                            <form id="image-info" method="POST">
                                {% csrf_token %}
                                {{ image_form.as_p }}
                                <input type="hidden" name="{{ param_names.PARAM_NAME_IMAGE_ID }}" value="{{ img.id }}" />
                                <input type="hidden" name="{{ param_names.PARAM_NAME_ACTION }}" value="update_image" />
                                <input type="submit" value="Submit">
                            </form>
                {% else %}
                            <ul>
                                <li><strong>year</strong>: {{ img.year }}
                                <li><strong>Image type</strong>: {{ img.image_type }}
                            </ul>
                {% endif %}
                </p>
            </div>
            <div class="row">
                {% if breaker_formset %}
                            <hr />
                            <p class = "breaker_info">
                                <h2>Breaker info</h2>
                                <form method="post">
                                    {{ breaker_formset.management_form }}
                                    <table>
                                        {% csrf_token %}
                                        {{ breaker_formset }}
                                    </table>
                                    <input type="hidden" name="{{ param_names.PARAM_NAME_IMAGE_ID }}" value="{{ img.id }}" />
                                    <input type="hidden" name="{{ param_names.PARAM_NAME_ACTION }}" value="update_breaker_type" />
                    {% if breaker_instance %}
                                    <input type="hidden" name="{{ param_names.PARAM_NAME_BREAKER_ID }}" value="{{ breaker_instance.id }}" />
                    {% endif %}
                                    <input type="submit" value="Submit">
                                </form>
                            </p>
                {% endif %}
                {% if sheet_form %}
                        {% include "EntryApp/includes/code-image-edit-sheet.html" %}
                {% endif %}
                {% if longform_form %}
                        {% include "EntryApp/includes/code-image-edit-longform.html" %}
                {% endif %}
                {% if other_image_form %}
                        {% include "EntryApp/includes/code-image-edit-other-image.html" %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>

{% endblock content %}
{% block logout %}
{% endblock logout %}
