<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Deepzoom test site
        <br>
        <!-- <div id="img_test">
            {% load static %}
            <img src = "{% static deepzoom_obj.slug %}">
        </div> -->
        <!-- {% get_media_prefix as MEDIA_PREFIX %} -->
        deepzoom_obj is {{ deepzoom_obj }}
        <!-- {% load deepzoom_js_custom %} -->
        <div id="deepzoom_div" class="openseadragon" style="width: 800px; height: 600px;"></div>
        <!-- {% deepzoom_js deepzoom_obj "deepzoom_div" %} -->
        {% load static %}{% get_static_prefix as STATIC_PREFIX %}{% get_media_prefix as MEDIA_PREFIX %}
        media prefix is {{ MEDIA_PREFIX }}
        <!-- <script src="{{ STATIC_PREFIX }}deepzoom/js/vendor/openseadragon/openseadragon.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
        <script>
        //django-deepzoom by David J Cox
        //
        //Create and initialize deepzoom viewer.
        var viewer = OpenSeadragon({
            id: "deepzoom_div",
            prefixUrl: "/static/deepzoom/js/vendor/openseadragon/images/",
            // tileSources: "/deepzoom_images/deepzoom_images/{{ deepzoom_obj.slug }}/{{ deepzoom_obj.deepzoom_image|safe }}",
            tileSources: {
                type: 'image',
                 url: "/static/EntryApp/{{ deepzoom_obj.slug }}.jpg"},
            navigationControlAnchor: OpenSeadragon.ControlAnchor.BOTTOM_RIGHT,
            zoomPerClick: 1.6
        });
        </script>
    </body>
</html>