{% extends "base.html" %}

<style>
    textinput {
        max-width: 100%;
    }
    .flex-container {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: auto;
        align-content: start;
    }
    .container:after {
        display:block;
    }
</style>

{% block header %}
        <h2>Step 3: Enter individual records from sheet</h2>
{% endblock header %}
{% block content %}

{% load crispy_forms_tags %}
<div class='flex-container'>
<div class='row' >
    <div class='col-lg-3'>
        <div id="openseadragon1" style="width: 95%; height: 800px;"></div>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
        <script type="text/javascript">
                var Viewer = OpenSeadragon({
                    id: "openseadragon1",
                    prefixUrl: "/static/images/",
                    tileSources: {
                        type: 'image',
                        url: "/images/fake_IMG_0.jpg"
                    },
                    buildPyramid: false
                });
            </script>    
    </div>
    
    <div class='col-lg-8'>
        <div id='the_crispy_formset' class='container-fluid col-8'>
        </div>
        {% crispy formset helper %}
    </div>
</div>
</div>
    
    
    {% endblock content %}
{% block logout %}
{% endblock logout %}
