{% extends "base.html" %}

{% block header %}
    <h2>Step 2: Breaker data entry</h2>
        Enter breaker data here for {{ breaker_img_path }}
{% endblock header %}
{% block content %}
<div id="entryform">
<!-- <form method="post">
    <table>
        {% csrf_token %}
        {{ formset }}
    </table>
    <input type="submit" value="Submit">
</form> -->
</div>
    <form method="post">
        {{ formset.management_form }}
        <table>
            {% csrf_token %}
            {{ formset }}
        </table>
            <input type="submit" value="Submit">
        </form>
        <br>
        <div id="openseadragon1" style="width: 800px; height: 600px;"></div>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
       <script type="text/javascript">
            var Viewer = OpenSeadragon({
                id: "openseadragon1",
                prefixUrl: "/static/deepzoom/js/vendor/openseadragon/images/",
                tileSources: {
                    type: 'image',
                    url: "/images/{{ breaker_img_path }}"
                },
                buildPyramid: false
            });
        </script>
{% endblock content %}
{% block logout %}
{% endblock logout %}
