{% extends "base.html" %}

{% block header %}
        <h2>Sheet data entry</h2>
        <div id="breakerCheck">
            <p>
                This sheet will be associated with the breaker image {{breaker.img.img_path}}.
                <ul>
                    <li>Breaker year: {{ breaker.year }}</li>
                    <li>Breaker state: {{breaker.state }}</li>
                    <li>Breaker county: {{ breaker.county }}</li>
                </ul>
                If this seems incorrect, please check the problem box below.
                [TO DO: think through how system should guide user to correct the issue]
            </p>
        </div>
{% endblock header %}
{% block content %}
        <div id='sheetEntry'>
            <p>
                Select which kind of sheet this is.
            </p>
            <form action={% url 'EntryApp:submit_sheet' %} method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>    
        </div>
        <div id="openseadragon1" style="width: 800px; height: 600px;"></div>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
       <script type="text/javascript">
            var Viewer = OpenSeadragon({
                id: "openseadragon1",
                prefixUrl: "/static/deepzoom/js/vendor/openseadragon/images/",
                tileSources: {
                    type: 'image',
                    url: "/images/{{ slug }}"
                },
                buildPyramid: false
            });
        </script>
{% endblock content %}