{% extends "base.html" %}

<style>
    textinput {
        max-width: 100%;
    }
</style>

{% block header %}
        <h2>Step 3: Enter individual records from sheet</h2>
{% endblock header %}
{% block content %}    

{% load crispy_forms_tags %}


    <div id='crispyformset'>
    {% crispy formset helper %}
    </div>
    <br>
    <div id="openseadragon1" style="width: 800px; height: 600px;">
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
        <script type="text/javascript">
            var Viewer = OpenSeadragon({
                id: "openseadragon1",
                prefixUrl: "/static/deepzoom/js/vendor/openseadragon/images/",
                tileSources: {
                    type: 'image',
                    url: "/images/{{ slug }}"
                },
                buildPyramid: false
            });
        </script>
    </div>
{% endblock content %}
{% block logout %}
{% endblock logout %}
