{% extends "base.html" %}

<style>
    textinput {
        max-width: 100%;
    }
    .flex-container {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: auto;
        align-content: start;
    }
    .container:after {
        display:block;
    }
</style>

{% block header %}
        <h2>Step 3: Enter individual records from sheet</h2>
{% endblock header %}
{% block content %}    

{% load crispy_forms_tags %}


<div class='flex-container'>
    <div id='crispyformset' class='flex-item'>
    {% crispy formset helper %}
    </div>
    <br>
    <div id="openseadragon1" style="width: 20%; height: 800px;" class='flex-item'>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
        <script type="text/javascript">
                var Viewer = OpenSeadragon({
                    id: "openseadragon1",
                    prefixUrl: "/static/deepzoom/js/vendor/openseadragon/images/",
                    tileSources: {
                        type: 'image',
                        url: "/images/{{ slug }}"
                    },
                    buildPyramid: false
                });
            </script>
    </div>
</div>
    {% endblock content %}
{% block logout %}
{% endblock logout %}
