{% extends "base.html" %}

{% block end_of_head_tag %}
<script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
{% endblock end_of_head_tag %}

{% block header %}
    <h2>Decennial Census Digitization and Data Linkage</h2>
    <p> The Decennial  Census Digitization  and Linkage  project  (DCDL) is an initiative  to  produce  linked restricted  microdata  files  from  the decennial  censuses of 1960  through  1990. This tool enables hand-entry of data from a subset of scanned images of the historical files, an essential part of developing a scalable tool to capture respondent information so that individuals can be studied over time. </p>
{% endblock header %}

{% block content %}
    {% if num_images %}

    <p><b>User {{ user }} has completed data entry for {{ num_completed }} / {{ num_images }} images.</b></p>

        {% if next_image %}
    <p>
        Next image ({{ num_todo }} remaining):
        <br />
        <img src = "/images/{{ next_image.image_file.img_file_name }}" style="width: 200px;" />
        <form action={% url 'EntryApp:code_image' %} method="post">
            {% csrf_token %}
            <input type="hidden" name="image_id" value="{{ next_image.id }}" />
            <input type="submit" value="Code Image">
        </form>
    </p>
        {% endif %}

    {% else %}
        <p>No images are available for {{ user }}.</p>
    {% endif %}

    <h3>Recent images</h3>
    <p>
        <table class="gridtable">
            <tr>
                <th>image</th>
                <th>year</th>
                <th>type</th>
                <th>complete?</th>
                <th>updated</th>
                <th>problem?</th>
                <th>EDIT</th>
            </tr>
    {% for recent_image in recent_image_list %}
            <tr>
                <td><img src = "/images/{{ recent_image.image_file.img_file_name }}" style="width: 200px;" /></td>
                <td>{{ recent_image.year }}</td>
                <td>{{ recent_image.image_type }}</td>
                <td>{{ recent_image.is_complete }}</td>
                <td>{{ recent_image.last_modified }}</td>
                <td>{{ recent_image.problem }}</td>
                <td>
                    <form action={% url 'EntryApp:code_image' %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ recent_image.id }}" />
                        <input type="submit" value="Code Image">
                    </form>
                </td>
            </tr>
    {% endfor %}
        </table>
        Click here to view a list of your most recently entered images.
        <form action={% url 'EntryApp:list_recent' %} method="get">
            {% csrf_token %}
            <input type="submit" value="See recent entries">
        </form>
    </p>
{% endblock content %}

{% block problem %}
    <p>Click the buttons below to view sample record entry pages for each year.</p>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1960 %}>
        {% csrf_token %}
        <input type="submit" value="View 1960">
    </form>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1970 %}>
        {% csrf_token %}
        <input type="submit" value="View 1970">
    </form>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1980 %}>
        {% csrf_token %}
        <input type="submit" value="View 1980">
    </form>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1990 %}>
        {% csrf_token %}
        <input type="submit" value="View 1990">
    </form>
{% endblock problem %}
