{% extends "base.html" %}
{% block header %}
    <h2>Decennial Census Digitization and Data Linkage</h2>
    <p> The Decennial  Census Digitization  and Linkage  project  (DCDL) is an initiative  to  produce  linked restricted  microdata  files  from  the decennial  censuses of 1960  through  1990. This tool enables hand-entry of data from a subset of scanned images of the historical files, an essential part of developing a scalable tool to capture respondent information so that individuals can be studied over time. </p>
{% endblock header %}
{% block content %}
    {% if num_images %}
    <p><b>User {{ user }} has completed data entry for {{ num_completed }} / {{ num_images }} images.</b></p>
    {% else %}
        <p>No images are available for {{ user }}.</p>
    {% endif %}
    <form action={% url 'EntryApp:begin_new_image' %} method="get">
          {% csrf_token %}
          <input type="submit" value="New image">
      </form>
    <br>
    <p>Click here to download a spreadsheet containing the data entered so far.</p>
    <form action={% url 'EntryApp:select_records' %}>
            {% csrf_token %}
    <input type="submit" value="Export records">
    </form>
{% endblock content %}
{% block problem %}

    <br>
    <form action={% url 'EntryApp:test_crispy_formset' %}>
        {% csrf_token %}
        <input type="submit" value="crispy formset">
    </form>
{% endblock problem %}