{% extends "base.html" %}
{% block header %}
    <h2>Decennial Census Digitization and Data Linkage</h2>
    <p> The Decennial  Census Digitization  and Linkage  project  (DCDL) is an initiative  to  produce  linked restricted  microdata  files  from  the decennial  censuses of 1960  through  1990. This tool enables hand-entry of data from a subset of scanned images of the historical files, an essential part of developing a scalable tool to capture respondent information so that individuals can be studied over time. </p>
{% endblock header %}
{% block content %}
    {% if num_images %}
    <p><b>User {{ user }} has completed data entry for {{ num_completed }} / {{ num_images }} images.</b></p>
    {% else %}
        <p>No images are available for {{ user }}.</p>
    {% endif %}
    <form action={% url 'EntryApp:begin_new_image' %} method="get">
          {% csrf_token %}
          <input type="submit" value="New image">
      </form>
    <br>
{% endblock content %}
{% block problem %}
    <p>Click the buttons below to view sample record entry pages for each year.</p>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1960 %}>
        {% csrf_token %}
        <input type="submit" value="View 1960">
    </form>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1970 %}>
        {% csrf_token %}
        <input type="submit" value="View 1970">
    </form>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1980 %}>
        {% csrf_token %}
        <input type="submit" value="View 1980">
    </form>
    <br>
    <form action={% url 'EntryApp:test_crispy_formset' 1990 %}>
        {% csrf_token %}
        <input type="submit" value="View 1990">
    </form>
{% endblock problem %}