<!doctype html>
<html style="height: 100%; overflow: hidden; margin: 0;">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
    <script type="text/javascript" src="/static/EntryApp/image.js"></script>
  </head>
  <body style="width:100%; height: 100%; overflow: hidden; margin: 0;" onload="initSeaDragon('/images/{{imgpath}}')">
    <div id="openseadragon-image" class='flex-container' style="width:100%; height:100%;">
      <div id="openseadragon1" style="width: 100%; height: 100%;"></div>
    </div>
  </body>
</html>
