{% extends "base.html" %}
{% block header %}
        <h2>Export records </h2>
        <div id='tableSelection'>
            <p>
                Select which table you want to export records from.
            </p>
{% endblock header%}
{% block content %}
            <form action={% url 'EntryApp:export_records' %} method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>    
        </div>
{% endblock content %}
{% block logout %}
{% endblock logout %}
