{% extends "base.html" %}


{% block header %}
<style>
/* I don't know why this doesn't work in custom.css */

    #form-row-div  {
        flex-flow: row nowrap;
        overflow-x: scroll;
        align-items: flex-start;
        gap: 25px;
    }

    .form-inline label {
        justify-content:flex-start;
    }

    .control-label {
      display: inline-block;
      width:max-content;   /*auto Prevent labels from stacking above inputs in `.form-group` */
      font-weight:bold;
    }

    .form-column {
        max-width: 300px;

    }

    .control-group {
        margin-bottom: 10px;
    }

    /* For inputs */

    .numberinput-small {
    width:60px;
    }

    .textinput-small {
    width:60px;
    }



  /* 1970 */

    #form-1970-names-div {
        display:block;
    }

    #form-1970-first-name-middle-init {
        display:flex;
        gap:25px;
    }

    #form-1970-age-block {
        display:block;
    }

/* 1980 */

    #form-1980-first-name-middle-init {
        display:flex;
        gap:25px;
    }

    #form-1980-sex-radios {
        display:flex;
        margin-right:200px;
    }

    #form-1980-race-radios {
        margin-right: 200px;
    }

    #form-1980-birth-year-radios {
        margin-right:100px;
    }

    #form-1980-age-block {
        display: flex;
        gap:25px;
    }


/* 1990 */

    #form-1990-first-name-middle-init {
        display:flex;
        gap:25px;
    }

    #form-1990-sex-radios {
        display:flex;
        margin-right:200px;
    }

    #form-1990-race-radios {
        margin-right: 200px;
    }
       
</style>
    

<h2>Example {{ year }} {{ form_type }} form</h2>
{% endblock header %}

{% block content %}

{% load crispy_forms_tags %}
<div class='flex-container'>
<div class='row row-height' >
    <div class='col-lg-5'>
        <div id="openseadragon1" style="width: 95%; height: 800px;"></div>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>
        <script type="text/javascript">
                var Viewer = OpenSeadragon({
                    id: "openseadragon1",
                    prefixUrl: "/static/openseadragon_images/",
                    tileSources: {
                        type: 'image',
                        url: "/images/examples/example_{{ year }}_{{ form_type }}form.jpg"
                    },
                    buildPyramid: false
                });
            </script>    
    </div>
    
    <div class='col-lg-7 right-col'>
        <div id='the_crispy_formset' class='container-fluid col-8' style="max-width: 100%;">
            This is the record entry form.
        </div>
        <div class='flex-container'  style="margin-left: 50px;">
            {% crispy formset helper %}
        </div>
    </div>
</div>
</div>
    
    
    {% endblock content %}



{% block problem %}
{% endblock problem %}
