<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DCDL Data Entry</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>
        <div id="header">
            {% block header %}{% endblock header %}
        </div>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
        <div id="problem">
            {% block problem %}
            <div id="report-problem">
                <form action={% url 'EntryApp:report_problem' %}>
                    {% csrf_token %}
                    <input type="submit" value="Report a problem">
                </form>
            </div>
            {% endblock problem %}
        </div>
        <div id='nav-logout'>
            <br>
            {% block navigation %}
            <div id='home-button'>
                <form action={% url 'EntryApp:index' %}>
                    <input type="submit" value="Return to main page">
                </form>
            </div>
            {% endblock navigation %}
            {% block logout %}
                <div id='logout'>
                    <form action={% url 'EntryApp:logout' %}>
                        {% csrf_token %}
                        <input type="submit" value="Log out">
                    </form>
                </div>
            {% endblock logout %}
        </div>
    </body>
</html>