{% load crispy_forms_tags %}

<p class = "sheet_info">
    <h2>Sheet data entry</h2>
    <div id='sheetEntry'>
        <p>
            Please enter how many individual records this sheet contains.
        </p>
        <form method="GET">
            {% csrf_token %}
            {{ sheet_form.as_p }}
            <input type="hidden" name="{{ param_names.PARAM_NAME_IMAGE_ID }}" value="{{ img.id }}" />
            <input type="hidden" name="{{ param_names.PARAM_NAME_ACTION }}" value="update_sheet_type" />
            {% if breaker_instance %}
                <input type="hidden" name="{{ param_names.PARAM_NAME_BREAKER_ID }}" value="{{ breaker_instance.id }}" />
            {% endif %}
            {% if sheet_instance %}
                <input type="hidden" name="{{ param_names.PARAM_NAME_SHEET_ID }}" value="{{ sheet_instance.id }}" />
            {% endif %}
                <input type="submit" value="Submit">
        </form>
    </div>

    <div id="recordList">
    <p>
    {% include "EntryApp/includes/code-image-record-list.html" %}
    </p>    
    </div>

    <div id="image-complete">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{ param_names.PARAM_NAME_IMAGE_ID }}" value="{{ img.id }}" />
            <input type="hidden" name="{{ param_names.PARAM_NAME_ACTION }}" value="complete_image" />
            <input type="submit" value="Mark image complete">
        </form>
    </div>
    
    <div id=record-form>
        {% if record_form %}
        <form method="POST">
            {% csrf_token %}
            {% crispy record_form helper %}
            <input type="hidden" name="{{ param_names.PARAM_NAME_IMAGE_ID }}" value="{{ img.id }}" />
            <input type="hidden" name="{{ param_names.PARAM_NAME_SHEET_ID }}" value="{{ sheet_instance.id }}" />
            <input type="hidden" name="{{ param_names.PARAM_NAME_ACTION }}" value="update_record" />
            <input type="submit" value="Submit"> 
            {% if record_instance %}
            <input type="hidden" name="{{ param_names.PARAM_NAME_RECORD_ID }}" value="{{ record_instance.id }}">
            {% endif %}
        </form>
        {% endif %}
    </div>