
<style>
    .numberinput-small {
        width:60px;
    }
    .textinput-small {
        width:60px;
    }
</style>

<div class='right-col'>
    <div id='the_crispy_formset' class='container-fluid col-8'>
        This is some text.
    </div>
    
<input type="hidden" name="csrfmiddlewaretoken" value="qPfGQGLT4mXgDUFJk1BsSWKDFCNVLws3evY2ouOdeGVQs1R8NsFtVreOUxs8xUMP"> 
<!-- <div> 
    <input type="hidden" name="form-TOTAL_FORMS" value="2" id="id_form-TOTAL_FORMS"> 
    <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"> 
    <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"> 
    <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS"> 
</div>  -->
<div class='flex-container'>
    <div class='form-inline'>

        <span class='flex-container'>
            <div id="div_id_form-0-last_name" class="form-group"> 
                <label for="id_form-0-last_name" class="control-label requiredField">Last name<span class="asteriskField">*</span> </label> 
                <div class="controls"> <input type="text" name="form-0-last_name" maxlength="255" class="textinput textInput" id="id_form-0-last_name"> </div> 
            </div>
            <div class="inline-block">
                <div id="div_id_form-0-first_name" class="form-group"> 
                    <label for="id_form-0-first_name" class="control-label requiredField">First name<span class="asteriskField">*</span> </label> 
                    <div class="controls"> <input type="text" name="form-0-first_name" maxlength="255" class="textinput textInput" id="id_form-0-first_name"> </div> 
                </div>
                <div id="div_id_form-0-middle_init" class="form-group"> 
                    <label for="id_form-0-middle_init" class="control-label requiredField">Middle initial<span class="asteriskField">*</span> </label> 
                    <div class="controls"> <input type="text" name="form-0-middle_init" maxlength="255" class="textinput textInput textinput-small" id="id_form-0-middle_init"> </div> 
                </div>
            </div>
        </span>

        <span id="div_id_relp_1970" class="form-group"> 
            <div class='row-padded'><label for="id_relp_1970_0" class="control-label requiredField">Relationship to household head<span class="asteriskField">*</span> </label></div>
            <div class="controls"> 
                <div class="row-padded"><label for="id_relp_1970_1" class="radio"> <input type="radio" name="relp_1970" id="id_relp_1970_1" value="hh_head"  >Head of household</label></div> 
                <div class="row-padded"><label for="id_relp_1970_2" class="radio"> <input type="radio" name="relp_1970" id="id_relp_1970_2" value="spouse"  >Wife of head</label> </div>
                <div class="row-padded"><label for="id_relp_1970_3" class="radio"> <input type="radio" name="relp_1970" id="id_relp_1970_3" value="child"  >Son or daughter of head</label></div> 
                <div class="row-padded"><label for="id_relp_1970_4" class="radio"> <input type="radio" name="relp_1970" id="id_relp_1970_4" value="other_relative"  >Other relative</label> </div>
                <div class="row-padded"><label for="id_relp_1970_5" class="radio"> <input type="radio" name="relp_1970" id="id_relp_1970_5" value="roomer/boarder"  >Roomer, boarder, lodger</label></div> 
                <div class="row-padded"><label for="id_relp_1970_6" class="radio"> <input type="radio" name="relp_1970" id="id_relp_1970_6" value="patient/inmate"  >Patient or inmate</label> </div>
                <div class="row-padded"><label for="id_relp_1970_7" class="radio"> <input type="radio" name="relp_1970" id="id_relp_1970_7" value="other"  >Other not related to head</label> </div>
            </div> 
        </span>

        <div id="div_id_form-0-sex" class="form-group"> 
            <label for="id_form-0-sex_0" class="control-label requiredField">Sex<span class="asteriskField">*</span> </label> 
            <div class="controls"> 
                <label for="id_form-0-sex_1" class="radio"> <input type="radio" name="form-0-sex" id="id_form-0-sex_1" value="male"  >Male</label> 
                <label for="id_form-0-sex_2" class="radio"> <input type="radio" name="form-0-sex" id="id_form-0-sex_2" value="female"  >Female</label>
            </div>
        </div>

        <div id="div_id_form-0-race_1970" class="form-group"> 
            <div class='row-padded'><label for="id_form-0-race_1970"  class="control-label requiredField">Race<span class="asteriskField">*</span> </label></div> 
            <div class="controls"> 
                <div class='row-padded'><label for="id_form-0-race_1970_1" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_1" value="White"  >White</label></div>
                <div class='row-padded'><label for="id_form-0-race_1970_2" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_2" value="Negro or Black"  >Negro or Black</label></div>
                <div class='row-padded'><label for="id_form-0-race_1970_3" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_3" value="Indian (Amer.)"  >Indian (Amer.)</label></div>
                <div class='row-padded'><label for="id_form-0-race_1970_4" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_4" value="Japanese"  >Japanese</label></div>
                <div class='row-padded'><label for="id_form-0-race_1970_5" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_5" value="Chinese"  >Chinese</label> </div>
                <div class='row-padded'><label for="id_form-0-race_1970_6" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_6" value="Filipino"  >Filipino</label></div>
                <div class='row-padded'><label for="id_form-0-race_1970_7" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_7" value="Hawaiian"  >Hawaiian</label></div>
                <div class='row-padded'><label for="id_form-0-race_1970_7" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_7" value="Korean"  >Korean</label></div>
                <div class='row-padded'><label for="id_form-0-race_1970_7" class="radio inline"> <input type="radio" name="form-0-race_1970" id="id_form-0-race_1970_7" value="Other"  >Other</label></div>
            </div> 
        </div>
        
        <span class="row" > 
            <div id="div_id_exact_birth_month" class="form-group"> 
                <label for="id_exact_birth_month" class="control-label requiredField">Month of birth<span class="asteriskField">*</span> </label> 
                <div class="controls"> <input type="text" name="exact_birth_month" maxlength="255" class="textinput textInput" required id="id_exact_birth_month"> </div> 
            </div>
            <div id="div_id_exact_birth_year" class="control-group"> 
                <label for="id_exact_birth_year" class="control-label requiredField">Year of birth<span class="asteriskField">*</span> </label> 
                <div class="controls"> <input type="number" name="exact_birth_year" min="0" class="numberinput" required id="id_exact_birth_year"> 
            </div> 
        </span>
        
        <!-- 
    
        class="col-lg-1 col-md-1 col-sm-1" >  </div>
    <div  
        class="row" > <div id="div_id_exact_birth_year" class="control-group"> <label for="id_exact_birth_year" class="control-label requiredField">
                    Year of birth<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="exact_birth_year" min="0" class="numberinput" required id="id_exact_birth_year"> </div> </div> </div>
    <div  
        class="row" > <div id="div_id_age" class="control-group"> <label for="id_age" class="control-label requiredField">
                    Age<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="age" min="0" class="numberinput" required id="id_age"> </div> </div> </div>
    
    </div>
    <div  
        class="col-lg-1 col-md-1 col-sm-1" > <div id="div_id_birth_quarter" class="control-group"> <label for="id_birth_quarter_0" class="control-label requiredField">
                    Month of birth<span class="asteriskField">*</span> </label> <div class="controls"> <label for="id_birth_quarter_1" class="radio"> <input type="radio" name="birth_quarter" id="id_birth_quarter_1" value="Jan-Mar"  >Jan-Mar
            </label> <label for="id_birth_quarter_2" class="radio"> <input type="radio" name="birth_quarter" id="id_birth_quarter_2" value="Apr-June"  >Apr-June
            </label> <label for="id_birth_quarter_3" class="radio"> <input type="radio" name="birth_quarter" id="id_birth_quarter_3" value="July-Sept"  >July-Sept
            </label> <label for="id_birth_quarter_4" class="radio"> <input type="radio" name="birth_quarter" id="id_birth_quarter_4" value="Oct-Dec"  >Jan-Mar
            </label> </div> </div> </div>
    <div  
        class="col-lg-1 col-md-1 col-sm-1" > <div id="div_id_birth_decade" class="control-group"> <label for="id_birth_decade_0" class="control-label requiredField">
                    Decade of birth<span class="asteriskField">*</span> </label> <div class="controls"> <label for="id_birth_decade_1" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_1" value="1850"  >185-
            </label> <label for="id_birth_decade_2" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_2" value="1860"  >186-
            </label> <label for="id_birth_decade_3" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_3" value="1870"  >187-
            </label> <label for="id_birth_decade_4" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_4" value="1880"  >188-
            </label> <label for="id_birth_decade_5" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_5" value="1890"  >189-
            </label> <label for="id_birth_decade_6" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_6" value="1900"  >190-
            </label> <label for="id_birth_decade_7" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_7" value="1910"  >191-
            </label> <label for="id_birth_decade_8" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_8" value="1920"  >192-
            </label> <label for="id_birth_decade_9" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_9" value="1930"  >193-
            </label> <label for="id_birth_decade_10" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_10" value="1940"  >194-
            </label> <label for="id_birth_decade_11" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_11" value="1950"  >195-
            </label> <label for="id_birth_decade_12" class="radio"> <input type="radio" name="birth_decade" id="id_birth_decade_12" value="1960"  >196-
            </label> </div> </div> </div>
    <div  
        class="col-lg-1 col-md-1 col-sm-1" > <div id="div_id_birth_year" class="control-group"> <label for="id_birth_year_0" class="control-label requiredField">
                    Specific year of birth<span class="asteriskField">*</span> </label> <div class="controls"> <label for="id_birth_year_1" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_1" value="0"  >0
            </label> <label for="id_birth_year_2" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_2" value="1"  >1
            </label> <label for="id_birth_year_3" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_3" value="2"  >2
            </label> <label for="id_birth_year_4" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_4" value="3"  >3
            </label> <label for="id_birth_year_5" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_5" value="4"  >4
            </label> <label for="id_birth_year_6" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_6" value="5"  >5
            </label> <label for="id_birth_year_7" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_7" value="6"  >6
            </label> <label for="id_birth_year_8" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_8" value="7"  >7
            </label> <label for="id_birth_year_9" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_9" value="8"  >8
            </label> <label for="id_birth_year_10" class="radio"> <input type="radio" name="birth_year" id="id_birth_year_10" value="9"  >9
            </label> </div> </div> </div>
    
    </div>
    <div  
        class="row" > <div  
        class="col-lg-1 col-md-1 col-sm-1" > <div id="div_id_serial_no" class="control-group"> <label for="id_serial_no" class="control-label requiredField">
                    Serial number<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="serial_no" min="0" class="numberinput" required id="id_serial_no"> </div> </div> </div>
    <div  
        class="col-lg-1 col-md-1 col-sm-1" > <div id="div_id_block" class="control-group"> <label for="id_block" class="control-label requiredField">
                    Block<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="block" maxlength="255" class="textinput textInput" required id="id_block"> </div> </div> </div>
    
    </div> -->


    </div>
</div>

<br>
<br>
<br>

